h1 .bi {margin: 0 15px 0 0;}
.btn-primary {background-color: #000; border-color: #000;}

#results {display: none;}

#details {padding: 10px;}
#details p {font-weight: 700;}
#details p span {font-weight: 400;}

#editBrief, #copyBrief {cursor: pointer;}

div#results_Confirm1, div#results_Confirm2 {display: none; color: red; font-weight: 400; font-style: italic;}